<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="jumbotron text-center">
        <h1 class="display-4">Sed do eiusmod tempor incididunt</h1>
        <p class="lead">Lorem ipsum | consectetur</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <a class="btn btn-dark btn-lg" href="/projects" role="button">dolore magna</a>
    </div>
</div>